 body{
  //background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapertag.com%2Fwallpaper%2Ffull%2Fc%2F7%2F9%2F551980-most-popular-football-stadium-wallpaper-1920x1200-mobile.jpg&f=1&nofb=1);
  //background-image: url(https://cdn.pixabay.com/photo/2018/06/12/20/17/football-3471402_960_720.jpg);
  background-image: url(https://cdn.pixabay.com/photo/2014/11/19/15/30/stadium-537926_960_720.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.jumbotron{
  background-color: #bee5eb;
}

body.darkMode {

  .jumbotron{
    background-color: #212529;
  }

  .player-info {
 width: 70vw;
 padding: 10px 15px;
 margin: auto;
 display: flex-block;
 border: 1px solid #32383e;
 background-color: #212529;
 color: white;
 text-align: center;
}

  table {
    color: #fff;
    background-color: #212529; }
    .table-dark th,
    .table-dark td,
    .table-dark thead th {
      border-color: #32383e; }
    .table-dark.table-bordered {
      border: 0; }
    .table-dark.table-striped tbody tr:nth-of-type(odd) {
      background-color: rgba(255, 255, 255, 0.05); }
    .table-dark.table-hover tbody tr:hover {
      background-color: rgba(255, 255, 255, 0.075); }

  // .btn{
  //   color: #fff !important;
  //   background-color: #343a40 !important;
  //   border-color: #343a40 !important; }
  // .btn:hover{
  //   color: #fff !important;
  //   background-color: #23272b !important;
  //   border-color: #1d2124 !important; }
  // .btn:focus{
  //   box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5) !important; }
  // .btn:disabled{
  //   color: #fff !important;
  //   background-color: #343a40 !important;
  //   border-color: #343a40 !important; }

  // .close{
  //   color: #fff;
  //   background-color: #343a40;
  //   border-color: #343a40;
  // }

  // .close:hover{
  //   color: #fff;
  //   background-color: #23272b;
  //   border-color: #1d2124;
  // }

  // .close:focus{
  //   box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
  // }

  // .close{
  //   color: #fff;
  //   background-color: #dc3545;
  //   border-color: #dc3545;
  // }

  // .close:hover{
  //   color: #fff;
  //   background-color: #c82333;
  //   border-color: #bd2130;
  // }

  // .close:focus{
  //   box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  // }
 
  // nav{
  //   color: #fff; 
  //   background-color: #343a40; }
  // nav:hover {
  //   color: #fff; 
  //   background-color: #343a40;}

  // .modal-content{
  //   color: #fff;
  //   background-color: #23272b;
  //   border-color: #23272b;
  // }

// .navbar-dark .navbar-nav .nav-link {
//   color: rgba(255, 255, 255, 0.5); }
//   .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
//     color: rgba(255, 255, 255, 0.75); }
//   .navbar-dark .navbar-nav .nav-link.disabled {
//     color: rgba(255, 255, 255, 0.25); }

// .navbar-dark .navbar-nav .show > .nav-link,
// .navbar-dark .navbar-nav .active > .nav-link,
// .navbar-dark .navbar-nav .nav-link.show,
// .navbar-dark .navbar-nav .nav-link.active {
//   color: #fff; }

// .navbar-dark .navbar-toggler {
//   color: rgba(255, 255, 255, 0.5);
//   border-color: rgba(255, 255, 255, 0.1); }

// .navbar-dark .navbar-toggler-icon {
//   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }

// .navbar-dark .navbar-text {
//   color: rgba(255, 255, 255, 0.5); }
//   .navbar-dark .navbar-text a {
//     color: #fff; }
//     .navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
//       color: #fff; }
 
  } 

.loginHeader{
 opacity: 0.3;
}
.loginHeader:hover{
  opacity: 0.8;
}

.navLink:hover{
  cursor: pointer;
}

.loginHeaderText{
  font-family: Sansation;
  font-weight: bold;
  font-size: 30px;
}

.loginHeaderButton{
  font-family: Sansation;
  font-weight: bold;
  font-size: 21px;
}