.player-info {
 width: 60vw;
 padding: 10px 15px;
 margin: auto;
 display: flex-block;
 border: 1px solid gray;
  text-align: center;
     // style={{
      //   display: 'inline-block',
      //   border: '1px solid gray',
      //   padding: '10px',
      //   margin: '10px'
      // }}
}


.info-team-name {
 }

.info-player-name {
   
}

.player-contact {
 }

.matches-title {
  margin-top: 40px;
  text-align: start;
}


.matches-card {
  background-color: gray;
  margin-bottom: 10px;
}


.matches-table {
  width: 60vw;
  margin: 0px;
  padding: 0px;
}

.teams-cell {
  margin: 0px;
  background-color: pink;
  padding: 0px;
}


.teams-cell-specific {
  background-color: red;
  margin: 0px;
  padding: 0px;
  border: none;
}